.main_locality {
    margin: 0 8rem 0 8rem;
}

.content_desc {
    font-size: 1.6rem;
    padding: 0px 0px 30px 0px;
}

.main_city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;

}

.city_content {
    width: 100%;
    line-height: 1.8rem;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.438);
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    display: flex;
}

.city_data {
    flex: 2;
}

.city_heading {
    font-size: 1.3rem;
    width: 100%;
}

.cityarrow {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:15px;
}

#last .city_heading {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

.city_heading span:last-child {
    margin-top: 4px;
    margin-left:5px;
}